.saved-container {
	border-radius: 100px;
	padding: 15px;
	font-size: 30px;
	position: fixed;
	background-color: #7fdb7f;
	right: 50px;
	bottom: 50px;
	z-index: 1800;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .8s ease-out;
	overflow: hidden;
	box-sizing: border-box;
}

.saved-toggle {
	border: none;
	font-size: 30px;
	background-color: #7fdb7f;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .8s ease-out;
	overflow: hidden;
	z-index: 2000;
}

.saved-catalog-section {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.active {
	transform: scale(70);
}

.active .saved-toggle{
	transform: scale(.014);
}

.active .saved-catalog {
	transform: scale(.05);
}

.active .saved-catalog-section {
	transform: scale(.05);
}