.saved-container {
	display: flex;
	border-radius: 100px;
	padding: 15px;
	font-size: 30px;
	position: fixed;
	background-color: #7fdb7f;
	right: 50px;
	bottom: 50px;
	z-index: 1500;
	height: 70px;
	width: 70px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .8s ease-out;
	overflow: hidden;
}

.saved-toggle {
	border: none;
	position: absolute;
	font-size: 30px;
	background-color: #7fdb7f;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .8s ease-out;
	z-index: 1750;
}

.active {
	transform: scale(70);
}

.active .saved-toggle{
	transform: scale(.014);
}

.saved-catalog-section {
	display: none;
	transition: .5s;
}

.active .saved-catalog-section {
	top: -500px;
	right: -100px;
	display: flex;
	transform: scale(.014);
}