.book {
	display: flex;
	width: fit-content;
	justify-content: center;
	position: relative;
	background-color: #ddd;
	border-radius: 20px;
	overflow: hidden;
	box-sizing: border-box;
	transition: .1s;
	margin: 20px;
}


.material-div {
	position: absolute;
	height: 700px;
	width: 700px;
	top: -500px;
	left: -30px;
	transform: rotate(30deg);
	background: linear-gradient(45deg, #ffffff31 0%, transparent 100%);
	z-index: 750;
	transition: .5s cubic-bezier(0, 0.47, 0.58, 1);
	filter: blur(5px);
}

.book:hover .material-div{
	top: -340px;
}

.book-image {
	width: 300px;
	border-radius: 20px;
	transition: .1s;
	z-index: 500;
}

.book-info {
	position: absolute;
	z-index: 250;
	background-color: #ddd;
	transition: .3s;
}

.book:hover .book-info{
	top: 800px;
}

.book-title {
	width: 100%;
}
.book-pages {
	width: 100%;
}
