.book-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1360px;
	height: min-content;
	justify-content: flex-start;
}

.saved-catalog {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 20px;
	left: 420px;
	z-index: 1900;
	transition: .8s;
}